<div class="footer-container">
  <div class="container">
    <footer>
      <a href="https://www.diowa.com/" class="pull-right">
        <span class="diowa-logo"></span>
        <span class="sr-only">diowa.com</span>
      </a>
      <ul class="list-inline list-footer">
        {% for localized_page in site.localized_pages[page.localized_name] %}
          <li>
            <a href="{{ localized_page.url }}">{{ site.languages[localized_page.language] }}</a>
          </li>
        {% endfor %}
      </ul>
    </footer>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{% asset application.js @path %}" async></script>
{% include google_analytics.html %}
