<div class="footer-container">
  <div class="container">
    <footer>
      <a href="http://diowa.com" class="pull-right">
        <span class="diowa-logo"></span>
        <span class="sr-only">diowa.com</span>
      </a>
      <ul class="list-inline list-footer">
        {% for localized_page in site.localized_pages[page.localized_name] %}
          <li>
            <a href="{{ localized_page.url }}">{{ site.languages[localized_page.language] }}</a>
          </li>
        {% endfor %}
      </ul>
    </footer>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script async type="text/javascript" src="{% asset_path application.js %}"></script>
{% include google_analytics.html %}
<!-- Respond.js IE8 support of media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
