<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

  {% stylesheet application %}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700%7COswald:300" rel="stylesheet" type="text/css" media="all">

  <!-- HTML5 shim IE8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="144x144" href="{% asset_path apple-touch-icon.png %}">
</head>
