<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.homepage %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>{% if page.title %}{{ page.title | append: ' | ' }}{{ site.name }}{% else %}{{ site.title }}{% endif %}</title>
  {% endif %}

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  {% for localized_page in site.localized_pages[page.localized_name] %}
  <link rel="alternate" href="{{ localized_page.url | prepend: site.url }}" hreflang="{{localized_page.language}}" />
  {% endfor %}

  {% asset application.css %}
  <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet" type="text/css" media="all">

  {% include open_graph.html %}

  <!-- Webapp -->
  <link href="/manifest.json" rel="manifest" />
  <meta content="C. Carpool" name="application-name" />
  <meta content="#2980b9" name="theme-color" />

  <link href="{% asset apple-touch-icon.png @path %}" rel="apple-touch-icon" sizes="180x180" />
</head>
