<head>
  <meta charset="utf-8">
  {% if page.homepage %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>{% if page.title %}{{ page.title | append: ' | ' }}{{ site.name }}{% else %}{{ site.title }}{% endif %}</title>
  {% endif %}

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  {% for localized_page in site.localized_pages[page.localized_name] %}
    <link rel="alternate" href="{{ localized_page.url | prepend: site.url }}" hreflang="{{localized_page.language}}" />
  {% endfor %}

  {% stylesheet application %}
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400%7COswald:300" rel="stylesheet" type="text/css" media="all">

  {% include open_graph.html %}

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% asset_path apple-touch-icon-precomposed.png %}">

  <!-- HTML5 shim IE8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>
