<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.root_paths[page.language] }}" class="navbar-brand">
        <div class="companycarpool-logo-big"></div>
        Company Carpool
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for link in site.navbar_links[page.language] %}
          <li>
            <a href="{{ link.url }}">{{ link.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
