@import "twbs-variables";
@import "twbs/bootstrap/mixins";

.footer {
  margin-top: $line-height-computed;
  border-top: 1px solid $hr-border;
  padding: $line-height-computed 0;
}

footer {
  a {
    display: inline-block;
    padding: 6px 12px;
    color: $gray !important;
  }
}

@media (min-width: #{$screen-sm-min}) {
  footer {
    a {
      padding: 0;
    }
  }
}
