@import "twbs-variables";
@import "twbs/bootstrap/mixins";

#footer {
  margin-top: $line-height-computed;
  border-top: 1px solid $hr-border;
  padding: $line-height-computed 0;
}

footer {
  a {
    color: $gray !important;
  }
}
